{% extends "website/layout.html" %}

{% block body %}
    <h1>About me!</h1>
    <p>
        I graduated from the University of Calgary in December 2021 with a degree in Mechanical Engineering and a specialization in
        Energy and Environmental Engineering. In my second year, I started this specialization knowing that I would like to
        focus my career on the alternative energy industry. Through this specialization, I enrolled in several courses related to
        alternative energy including gas dynamics, aerodynamics, and turbomachinery.
    </p>
    <p>
        During my time at the U of C, I was a member of the Zeus Electric Motorsport team. In this club, we designed, built, and
        raced a fully electric motorcycle. Through this team, I gained experience in design, prototyping, and testing.
    </p>
    <p>
        When I'm not working, you can find me biking, running, or playing guitar. In 2021, I took my bicycle from Calgary to
        Vancouver (you can read about the trip <a href='{% url "projectView" "bike-trip-week-1" %}'>here!</a>). After this trip, I 
        fell in love with bike touring and hope for many more trips in the future.
    </p>
{% endblock %}