<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <title>Fluid Sim</title>
    <link rel="stylesheet" href="static/website/fluidSimResources/style.css">
</head>
<body>
    <script type="module" src="static/website/fluidSimResources/solverFunctions.js"></script>
    <canvas id="fluidCanvas"></canvas>
    <script src="static/website/fluidSimResources/utils.js"></script>
    <script src="static/website/fluidSimResources/particle.js"></script>
    <script src="static/website/fluidSimResources/main.js"></script>
    <div>
        <p style="color:black">Viscosity:</p>
        <input type="range" min="0" max="100" value="50" class="slider" id="viscRange">

        <p style="color:black">Diffusion:</p>
        <input type="range" min="0" max="100" value="50" class="slider" id="diffRange">

        <p style="color:black">Dissolve Rate:</p>
        <input type="range" min="0" max="100" value="50" class="slider" id="dissolveRange">

        <p style="color:black">Number of particles:</p>
        <input type="range" min="0" max="500" value="1" class="slider" id="particlesRange">
    </div>
    
</body>