{% extends "website/layout.html" %}
{% block body %}
    <div class="bio-container">
        <div class="bio-item">
            <h1 style="font-size: 40pt;">Matthew Halas</h1>
            <hr width="100%">
            <p style="font-size:large">
                Hello, I am a recently graduated mechanical engineer, currently gaining
                hands on experience in the field as a Wind Turbine Technician. I am
                passionate about the field of alternative energy, and love solving
                challenging problems.
            </p>
        </div>
        <div class="bio-item" width="60%">
            <img src="static/website/matt.jpg" class="bio-pic">
        </div>
    </div>
    <div class="project-div">
        <div>
            <h1>My Projects</h1>
        </div>
        <div class="project-container">
            <div class="card">
                <a href="{% url 'projectView' 'volvo' %}">
                    <img src="static/website/volvo_images/combustor.gif" alt="Volvo" class="cardImage">
                    <div class="container">
                        <h4><b>Validation of CFD solver in OpenFOAM</b></h4>
                        <p>
                            Using the Volvo afterburner common research model to
                            validate a new computational fluid dynamics solver
                        </p>
                    </div>
                </a>
            </div>


            <div class="card">
                <a href="{% url 'fluidSim' %}">
                    <img src="static/website/CFD_images/preview.png" alt="CFD solver" class="cardImage">
                    <div class="container">
                        <h4><b>Real time fluid simulator</b></h4>
                        <p>
                            My take on a real time CFD solver written in javascript
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="project-div">
        <h1>Blog</h1>

        <ul>
            <li class="post-list-item">
                <a href="{% url 'projectView' 'bike-trip-week-1' %}">Biking from Calgary to Vancouver - Week 1</a>
            </li>

            <li class="post-list-item">
                <a href="{% url 'projectView' 'bike-trip-week-2' %}">Biking from Calgary to Vancouver - Week 2</a>
            </li>

            <li class="post-list-item">
                <a href="{% url 'projectView' 'bike-trip-week-3' %}">Biking from Calgary to Vancouver - Week 3</a>
            </li>
        </ul>
    </div>
{% endblock %}